* {
    
}

.formGeral {    
    margin-right: 40px !important;    
    margin-left: 40px !important;
}

label {
    font-family: 'Roboto Medium', sans-serif;    
}

.labelTitulo {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 40px;
    color: black;
    padding-bottom: 50px;
    font-weight: bold;
}

.inputTexto {
    font-size: 20px;
    width: 100%;
    padding: 12px 5px;
    margin: 0px 0px 10px 0px;
    box-sizing: border-box;
}

.inputTexto50 {    
    width: 50% !important;    
}

.inputData {
    font-size: 20px;
    width: 30% !important;
    padding: 12px 5px;
    margin: 0px 0px 10px 0px;
    box-sizing: border-box;
}

.botaoAtualizar {    
    width: 100px;
    height: 40px;
    background-color: #0073e6;
    color: white;
    margin: 5px;
    border-radius: 10px;
}

.botaoNovo {    
    width: 100px;
    height: 40px;
    background-color: #00cc99;
    color: white;
    margin: 5px;
    border-radius: 10px;
}

.botaoSalvar     {    
    width: 100px;
    height: 40px;
    background-color: #00e64d;
    color: white;
    margin: 5px;
    border-radius: 10px;
}

.botaoCancelar, .botaoExcluir {
    width: 100px;
    height: 40px;
    background-color: #ff1a1a;
    color: white;
    margin: 5px;
    border-radius: 10px;
}
